@media (prefers-color-scheme: dark) {
:root {
--body-bg: #0e191a;
--text: #FFF;
}
}
@media (prefers-color-scheme: light) {
:root {
--body-bg: #FFF
--text: #000;
}
}
html {
background-color: var(--body-bg);
color: var(--text);
}
